<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <body layout:fragment="body">
        <div class="container">
            
            
            <form th:action="@{/Alumno}" th:object="${alumnoBusqueda}" method="post">
                <input type="text">
                <input type="text">
                <input type="text">
                <select></select>
                <button type="submit"></button>
            </form>
            
            
            <a th:href="@{/Alumno/form/{idAlumno}(idAlumno=0)}" class="btn btn-success">Agregar por redireccionamiento</a>
            
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th class="col-1">Editar</th>
                        <th class="col-2">Nombre</th>
                        <th class="col-6">Contacto</th>
                        <th class="col-4">Curp</th>
                        <th class="col-4">Direccion</th>
                        <th class="col-1">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alumnoDireccion: ${listaAlumno}">
                        <td><a th:href="@{/Alumno/form/{idAlumno}(idAlumno=${alumnoDireccion.Alumno.IdAlumno})}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a></td>
                        <td th:text="${alumnoDireccion.Alumno.Nombre}"></td>
                        <td></td>
                        <td></td>
                        <td><span th:each="direccion, iterStat : ${alumnoDireccion.Direcciones}" th:utext="${(iterStat.index != 0 ? '<br>' : '') + (direccion.Calle)}"></span></td>
                        <td><a class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
